html {
	background: url('http://smallgreendoor.com/v2012/img/cssimg/SGD-bg-chalkboard.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*html {
background: rgb(36, 36, 36);
}
*/

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}
h1{
	font-family: 'Roboto Slab', serif;
	font-size:50px;
	margin:20px 0;
}
.whatitis{
	width:500px;
	margin:auto;
	text-align:center;
	font-size:20px;
	line-height:1.5;
}

.wrap{
	width:500px;
	height:500px;
	margin:auto;
	margin-top:50px;
	position:relative;
	background: #1D1D1D;
	padding:50px 0;
}
.context{
	display:inline-block;
	float:right;
	margin-right: 20px;
}
.target{
	display:inline-block;
	float:left;
	margin-top: 55px;
	padding: 100px 70px;
	background: rgba(0, 0, 0, 0.3);
}
.calc{
	position:absolute;
	bottom:45px;
	left: 195px;
}
.btns{
	position:relative;
	font-size:20px;
	text-decoration:none;
	color:white;
	background-color:#0180FE;
	padding:10px 20px;
	border:0;
	cursor:pointer;
}
.lower{
	position:relative;
	width:500px;
	margin:auto;
	background: #1D1D1D;
	margin-top:5px;
	padding:9px 0;
	text-indent:10px;
}
#result{
	color:#fff;
	font-weight:bold;
	font-size:26px;
	font-family: 'Roboto Slab', serif;
	/*text-shadow: 1px 1px 1px #000;*/
}
span{
	display:block;
}
.my_clip_button{
	position: absolute;
	right: 0;
	top: 1px;
	background: #000;
	color: white;
	border: 0;
	padding: 16px 40px;
}

input[type="text"] {
	height:30px;
	text-indent: 10px;
	border:none;
}
input[type="text"]:focus {
	border:none;
}
label{
font-family: 'Roboto Slab', serif;
font-size: 25px;
position: relative;
top: 3px;
margin-right: 14px;
}
.menu-toggle {
z-index: 110;
text-align: left;
width: 75px;
text-align: center;
font-size: 44px;
line-height: 1.5;
cursor: pointer;
background: rgba(84, 145, 252, 0.9);
transition: all .25s;
padding: 20px 25px;
}
.menu-toggle span {
border: 2px solid rgba(255, 255, 255, 0.7);
display: block;
width: 100%;
margin-bottom: 5px;
}

























